{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}
<style>
  .table{
      font-size: 13px;
      text-align: center;
  }
  .table tr:nth-child(odd){
      background: #B8CAE4;
  }
  .table tr:nth-child(even){
      background: #dae5f4;
  }
  th{
      background-color: #337ab7;
      color: white;
  }
</style>
{% for message in messages %}
<div style="width: 30%; margin-top: 20px; margin-left: 200px;" class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
{% if user.is_authenticated %}
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col"></th>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Remove</th>
  
              </tr>
          </thead>
          <tbody>
            {% for order_product in object.products.all %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><img width=100, height=50 src="{{ order_product.product.image1URL}}">{{ order_product.product.name }}</td>
              <td>
                <a href="{% url 'homeapp:remove-single-product-from-cart' order_product.product.slug %}"><i class="fas fa-minus mr-2" value="1"></i></a>
                {{ order_product.quantity }}
                <a href="{% url 'homeapp:add-to-cart' order_product.product.slug %}"><i class="fas fa-plus ml-2" value="1"></i></a>
              </td>
              <td><button type="button" class="btn btn-danger">Remove</button></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
            <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3 pt-1">
                <h6 class="font-weight-medium">Subtotal</h6>
                <h6 class="font-weight-medium">$</h6>
            </div>
            <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Shipping</h6>
                <h6 class="font-weight-medium">$10</h6>
            </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
                <h5 class="font-weight-bold">Total</h5>
                <h5 class="font-weight-bold">$160</h5>
            </div>
            <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
        </div>
      </div>
    </div>
    
  </div>
</div>
{% else %}

{% endif%}
{% endblock %}