{% load static %}
{% block content %}
    {% if object.get_total %}
    <div class="card border-secondary mb-5">
      <div style="background-color: orange; color: white;" class="card-header border-0">
          <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
      </div>
      <div class="card-body">
          <div class="d-flex justify-content-between mb-3 pt-1">
              <h6 class="font-weight-medium">Subtotal</h6>
              <h6 class="font-weight-medium">${{ object.get_total }}</h6>
          </div>
      </div>
      <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
              <h5 class="font-weight-bold">Total</h5>
              <h5 class="font-weight-bold">${{ object.get_total }}</h5>
          </div>
          <a href="{% url 'homeapp:checkout' %}" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
      </div>
    </div>
    {% endif %}
  
{% endblock %}