{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}
{% for message in messages %}
<div style="width: 30%; margin-top: 20px; margin-left: 200px;" class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{product.image1URL}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ product.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if product.discount_price %}
              <span class="mr-1">
                <del style="color: red;">${{ product.price }}</del>
              </span>
              <span>${{ product.discount_price }}</span>
              {% else %}
              <span>${{ product.price }}</span>
              {% endif %}
            </p>

            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
  </main>
  <div class="container-fluid pt-5">
    <div class="row px-xl-5">
      <div class="col-lg-8 table-responsive mb-5">
        <div id="header-carousel" class="carousel slide" data-ride="carousel" style="width: 30%; ">
          <div class="carousel-inner">
          <div class="carousel-item active" >
          <img class="img-fluid" src="{{product.image2URL}}" alt="Image">
          </div>
          <div class="carousel-item" >
          <img class="img-fluid" src="{{product.image3URL}}" alt="Image">
          </div>
          <div class="carousel-item" >
          <img class="img-fluid" src="{{product.image4URL}}" alt="Image">
          </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          </a>
        </div>  
      </div>
      <div class="col-lg-4">
        <div class="card">
          <h4 style="background-color: blue; color: white;" class="card-header">Seller's Details</h4>
          <div class="card-body">
            <div class="navbar-nav w-100 overflow-hidden">
              {% for instance in queryset %}
              <a href="" class="nav-item nav-link">Sold by {{ instance.seller }}</a>
              <a href="" class="nav-item nav-link">Contact {{ instance.seller }}</a>
              {% endfor %}
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a style="margin-left: 20px;" href="#"><i class="fab fa-instagram"></i></a>
                <a style="margin-left: 20px;" href="#"><i class="fab fa-whatsapp"></i></a>
                <a style="margin-left: 20px;" href="#"><i class="fab fa-twitter"></i></a>
              </div>
              <a href="" class="nav-item nav-link">Other Products sold by the same seller</a>
              <a href="" class="nav-item nav-link">Location</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8" style="padding-top: 20px;">
        <div class="card">
          <h4 style="background-color: blue; color: white; " class="card-header">Product Details</h4>
          <ul>
          <p>
          <h4 style="background-color: blue; color: white;" class="card-header">Characteristics</h4>
          <li class="list-item-group">{{ product.Characteristics }}</li>
          </p>
          </div>
          <br>
          <div class="card">
          <h4 style="background-color: blue; color: white;" class="card-header">Key Features</h4>
          <li class="list-item-group">{{ product.description }}</li>
          </div>
          <br>
          <div class="card">
          <h4 style="background-color: blue; color: white;" class="card-header">Specifications</h4>
          <li class="list-item-group">{{ product.specifications }}</li>
          </ul>
        </div>
      </div>
      
    </div>
    <a style="margin-top: 40px; margin-left: 40px;" href="{% url 'homeapp:home' %}" class="btn btn-success">Continue Shopping</a>
  </div>

{% endblock %}


